 //KnightWarrior
//license: Freeware, Non-Commercial
//link: https://www.fontspace.com/knight-warrior-font-f104596
@font-face {
    font-family: 'knightwarrior';
    src: url('../fonts/knightwarrior/KnightWarrior-w16n8.otf');
    font-weight: normal;
    font-style: normal;
}